body {
    text-align: center;
    background-image: linear-gradient(#0B3C49,#B8C4BB) ;
    color:white;
}
.Contact {
    color:darkgreen;
}
iframe:hover {
    animation-name: lol;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
.alpha {
    font-style:italic;
}
.beta {
    font-size: larger;
    font-style:italic;
    font font-family: Helvetica; 
}
.gamma {
    font-weight: bold;
}
.delta {
    font-weight: bold;
}
.omicron {
    margin-left: 420px; 
    margin-right: 420px;
}
#projectlist {
    text-align: center;
    margin: 855px;
    border: double rgb(228, 21, 255);
    border-radius: 10px;
}
ul {
    list-style: none;
}

::-webkit-scrollbar {
    width:20px;
}

::-webkit-scrollbar-track {
    background: limegreen
}

::-webkit-scrollbar-thumb {
    background:rgb(240, 5, 240)
}

@keyframes lol {
    from {}
    to {
        transform:rotate(720deg);
    }
}
